@import url(https://db.onlinewebfonts.com/c/0b5ecd0afcf95185925504cdca01f5e3?family=Druk+Wide+Cy+Web+Bold+Regular);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #1f1f1f;
}

.modalHeader-enter {
  top: -110vh;
  transition: 400ms ease;
}
.modalHeader-enter-active {
  top: 0;
  transition: 400ms ease;
}
.modalHeader-enter-done {
  top: 0;
  transition: 400ms ease;
}
.modalHeader-exit {
  top: 0;
  transition: 400ms ease;
}
.modalHeader-exit-active {
  top: -110vh;
  transition: 400ms ease;
}

.secondLevelTitle {
  @apply !text-[1.5rem];
}

.goldBoldText {
  @apply text-[#ffd78a] font-["Druk_Wide_Cy_Web_Bold_Regular"] font-bold outline-none;
}

.goldMediumText {
  @apply text-[#ffd78a] font-["Montserrat"] font-medium outline-none;
}

.goldRegularText {
  @apply text-[#ffd78a] font-["Montserrat"] font-normal outline-none;
}

.whiteLinkText {
  @apply ml-[10px] text-[#ffffff] text-[1rem] font-["Montserrat"] font-medium cursor-pointer outline-none;
}
